{% extends 'base.html' %}

{% block title %}{{ article.title }} - Блог программиста{% endblock %}

{% block content %}
    <h2>{{ article.title }}</h2>
    <p><em>Дата публикации: {{ article.created_at|date:"d.m.Y H:i" }}</em></p>
    
    {% if article.image %}
        <div>
            <img src="{{ article.image.url }}" alt="{{ article.title }}" style="max-width: 100%; height: auto; border-radius: 5px;">
        </div>
    {% endif %}
    
    <div style="margin-top: 20px;">
        <p>{{ article.full_description|linebreaks }}</p>
    </div>
    
    <p><a href="{% url 'index' %}">← Вернуться к списку статей</a></p>
{% endblock %}